#all{
    display:grid;
    grid-template-columns: 250px 1fr;
}

#head{
    text-align:center;
    font-size:50px;
}

#main{
    border-left:1px solid black;
    padding-left:10px;
    margin-top:0px;
    padding-top:0px;
}

#side{
    background-color:gainsboro;
    margin-top:0px;
    padding-top:0px;
}

body{
    margin:0px;
}

a{
    color:black;
    text-decoration:none;
    font-weight:bold;
    font-size:20px;
}
a:hover{
    color:gray;
}

li{
    margin:30px 0px;
}